*{
    margin:0;
    padding:0;
}
html{
  overflow-x: hidden;
  font-family: "Avenir";
  background-color: #000000;
  font-size: 18px;
}
#wrapper{
  overflow-x: hidden;
  margin:0 auto;
}
/*------- header---------- */
#header{
    background-color: #EFE9DC;
    height:765px;
    position: relative;}
  
.logo{
    display: block;
  padding-top:20px;
  padding-bottom: 20px;
    background-color: #355760;
    width:80px;
   text-align: center;
}

/*　ハンバーガーボタン　*/
.hamburger {
    display : block;
    position: fixed;
    z-index : 99;
    right : 13px;
    top   : 12px;
    width : 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    background-color: #355760;
  }
    .hamburger:hover {
        opcity:.7;}
  .hamburger span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 10px;
    background : #FFFFFF;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 13px;
  }
  .hamburger span:nth-child(2) {
    top: 23px;
  }
  .hamburger span:nth-child(3) {
    top: 33px;
  }
  
  /* ナビ開いてる時のボタン */
  .hamburger.active span:nth-child(1) {
    top : 16px;
    left: 6px;
    background :#fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
  }
  
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 16px;
    background :#fff;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
  }
  
  nav.globalMenuSp {
    position: fixed;
    z-index : 98;
    top  : 0;
    right : 0;
    color: #fff;
    background-color: #355760;
    text-align: center;
    width: 20vw;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease;
    visibility: hidden;
    
  }
  
  nav.globalMenuSp ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  
  nav.globalMenuSp ul li {
    
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: .4s all;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
  }
  nav.globalMenuSp ul li:hover{
    background :rgba(229,170,115,.8);
   
  }
  
  nav.globalMenuSp ul li a {
    
    font-size: 18px;
    font-weight: bold;
    display: block;
    color: #fff;
    padding: 1.5em 0;
    text-decoration :none;
  }
  
  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    opacity: 100;
    visibility: visible;
  
  }
  .smonly{
    display:none;
  }
.topback{
  text-align: center;
}

   .circle{ 
  margin-top:-500px;
   margin-left:65%;
    display:block;
    width:600px;
    height:600px;
    border-radius: 50%;
    border:3px solid #355760;
    
   }

/*------- header---------- */
/*------- message---------- */
#message{
     background-color: #355760;
     position: relative;
     background-image: url(../images/lig.png);
     background-repeat: no-repeat;
     background-position: right bottom;
 }
 #message h1{
  font-size:4rem;
  color:#E5AA73;
  position:absolute;
  z-index: 10;
  top:30px;
  left:50px;
  font-weight: bold;
 }
 #message h3{
  font-weight: bold;
  writing-mode: vertical-rl;
 }
 .circle2{ position:absolute;
    z-index: 0;
    left:-100px;
    bottom:-100px;
    display:block;
    width:550px;
    height:550px;
    border-radius: 50%;
    border:3px solid white;}
    .line1{
        position: absolute;
        top:382px;
        left:-350px;
        width: 765px;
        height: 0px;
        border: 2px solid #FFFFFF;
        transform: rotate(90deg);
    }
    .line2{
      position: absolute;
       top:700px; 
      width: 100vw;
        height: 0px;
        border: 2px solid #FFFFFF;
      
    }
    .flex3{
      padding-bottom: 3%;
      padding-top:15vh;
      display: flex;
      color:white;
      letter-spacing: 0.5em;
      align-items: center;
gap:80px;
justify-content: center; 
    }
    .m2 p{
      font-size: 1rem;
      margin-bottom:40px;
      line-height: 1.5;
      
    }
    .m1{
     
      line-height: 2;
      font-size:21px;
      
    }
/*------- message---------- */
/*-------company---------- */
#company{
 
  background-color: #EFE9DC;
background-image: url(../images/back.png); 
background-repeat: no-repeat;
background-position: center;
  position: relative;
}
#company h1{
  font-size:4rem;
  color:#E5AA73;
  position:absolute;
  z-index: 10;
  left:50px;
  top:30px;
  font-weight: bold;
}
.line3{
  position: absolute;
  top: 380px;
  right: -350px;
  width: 765px;
  height: 0px;
  border: 2px solid #355760;
  transform: rotate(90deg);
}
.line4{
position: absolute;
top:105px;
width: 100vw;
  height: 0px;
  border: 2px solid #355760;}
  .line5{
    position: absolute;
    bottom: 380px;
   left: -350px;
    width: 765px;
    height: 0px;
    border: 2px solid #355760;
    transform: rotate(90deg);
  }
  .line6{
  position: absolute;
  bottom:50px;
  width: 100vw;
    height: 0px;
    border: 2px solid #355760;}
    .flex4{
     margin:0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
     gap: 200px;
      padding:20% 0;
     
    }
    .co1{
      display:flex;
      width:75vw;
      column-gap: 70px;
      float:right;
      align-items: center;
      justify-content: center;
      
    }
    
    .co1w{
      padding-top: 50px;
      width:435px;
      color: #355760;
    }
    .co1w h2{
      font-weight: bold;
      font-size:30px;
      background: linear-gradient(transparent 60%, white 60%);
      width:230px;
    }
    .co1w p{
      line-height:2 ;
      margin-top: 20px;
      font-size: 16px;
    }
    .co2{
      display:flex;
      width:75vw;
      column-gap: 70px;
      align-items: center;
      justify-content: center;
      flex-direction: row-reverse;
    }
    .co2w{
      padding-top: 50px;
      width:435px;
      color: #355760;
    }
    .co2w h2{
      font-weight: bold;
      font-size:30px;
      background: linear-gradient(transparent 60%, white 60%);
      width:210px;
    }
    .co2w p{
      line-height:2 ;
      margin-top: 20px;
      font-size: 16px;
    }
    .co3{
      display:flex;
      width:75vw;
      column-gap: 70px;
      float:right;
      align-items: center;
      justify-content: center;
    }
    .co3w{
      padding-top: 50px;
      width:435px;
      color: #355760;
    }
    .co3w h2{
      font-weight: bold;
      font-size:30px;
      background: linear-gradient(transparent 60%, white 60%);
      width:350px;
    }
    .co3w p{
      line-height:2 ;
      margin-top: 20px;
      font-size: 16px;
    }
.button006 a {
  float:right;
  background: transparent;
  border:#355760 1px solid;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  max-width: 240px;
  padding: 10px 30px;
  color: #355760;
  transition: 0.3s ease-in-out;
  font-family: "Athelas";
  font-size: 16px;
  
}
.button006 a:before {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  right: -2em;
  transform: translateY(calc(-50% - 2px)) rotate(30deg);
  width: 12px;
  height: 1px;
  background-color: #355760;
  transition: 0.3s;
}
.button006 a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -2em;
  transform: translateY(-50%);
  width: 50px;
  height: 1px;
  background-color:#355760;
  transition: 0.3s;
}
.button006 a:hover:before, .button006 a:hover:after {
  right: -2.5em;
}
.button006 a:hover {
  background: rgba(53, 87, 96,.9);
  color:#FFFFFF;
}
/*-------company---------- */
/*-------member---------- */
#member{
  background-color: #355760;
  height:900px;
  background-image: url(../images/mback.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: right bottom;
  position: relative;
}
#member h1{
  font-size:4rem;
  color:#E5AA73;
  position:absolute;
  z-index: 10;
  left:50px;
  top:30px;
  font-weight: bold;
 }
 .member{
  padding-top: 180px;
padding-left:100px;
 }
.member ul{
  color:white;
  font-size: 1.5rem;
  line-height: 3.5;
 
  list-style: none;
 
 }
 .member a{
  
  text-decoration: none;
 }

 .member a:hover {
  font-weight: 900;
}
  .member a:before{
    content: "";
    position: absolute;
    top: 150px;
    right: 200px;
    display: inline-block;
    pointer-events: none;
    width: 720px;
    height: 720px;
  }
  .member1 img{
    position: absolute;
    top: 100px;
   right: 100px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .member1:hover img{
    opacity: 1;
  }
  .member2 img{
    position: absolute;
    top: 100px;
   right: 100px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .member2:hover img{
    opacity: 1;
  }
  .member3 img{
    position: absolute;
    top: 100px;
   right: 100px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .member3:hover img{
    opacity: 1;
  }
  .member4 img{
    position: absolute;
    top: 100px;
   right: 100px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .member4:hover img{
    opacity: 1;
  }
  .member5 img{
    position: absolute;
    top: 100px;
   right: 100px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .member5:hover img{
    opacity: 1;
  }
  .member6 img{
    position: absolute;
    top: 100px;
   right: 100px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .member6:hover img{
    opacity: 1;
  }
 
  
/*-------member---------- */
/*-------job---------- */
#job{
  overflow: hidden;
  position:relative;
  /* height:2220px; */
  background-color: #EFE9DC;
  background-image:url(../images/lig.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}
#job h1{
  font-size:4rem;
  color:#E5AA73;
 
  padding-left:50px;
  padding-top:30px;
  font-weight: bold;
}
.line7{
  position: absolute;
  top: 900px;
  right: -800px;
  width: 1800px;
  height: 0px;
  border: 2px solid #355760;
  transform: rotate(90deg);}
  .circle7{
    position:absolute;
    z-index: 0;
    right:-300px;
   top:-100px;
    display:block;
    width:1020px;
    height:1020px;
    border-radius: 50%;
    border:3px solid #355760;
  }
  #contact{max-width:95vw}
  
  /*アコーディオン全体*/
.accordion-area{
  list-style: none;
  width: 70vw;

  margin-top: 150px;
background-color: #355760;
padding:5%;
position: relative;
padding-right:80px;
    max-width:1250px;
}
.accordion-area h2{
  float:right;
  writing-mode: vertical-rl;
  position:absolute;
  top:3%;
  right:3%;
  font-size: 30px;
  writing-mode: vertical-rl;
  font-weight: bold;
  color:white;
  letter-spacing: 0.8rem;
}


.accordion-area li{
  margin: 30px 0;
}

.accordion-area section {
border-bottom: 1px solid #ccc;
}

/*アコーディオンタイトル*/
.title {
  position: relative;/*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  font-size:1rem;
  font-weight: normal;
  padding: 3% 3% 3% 50px;
  transition: all .5s ease;
  color:white;
  font-size: 22px;
  font-weight: bold;
}

/*アイコンの＋と×*/
.title::before,
.title::after{
  position: absolute;
  content:'';
  width: 15px;
  height: 2px;
  background-color: #ccc;
  
}
.title::before{
  top:48%;
  left: 15px;
  transform: rotate(0deg);
  
}
.title::after{    
  top:48%;
  left: 15px;
  transform: rotate(90deg);

}

/*　closeというクラスがついたら形状変化　*/

.title.close::before{
transform: rotate(45deg);
}

.title.close::after{
transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
  display: none;/*はじめは非表示*/
  background: #f3f3f3;
margin:0 3% 3% 3%;
  padding: 3%;
  color:black;
  font-size: 14px;
  line-height: 1.5;
}
.box p{
  padding:10px;
}
.box h5{
  color:black;
  font-size: 18px;
  font-weight: bold;
}
.j1{
  justify-content: center;
  display:flex;}
 
.j2, .j3, .j4{
text-align: center;
  margin: 30px 50px;
  padding:70px;
  box-shadow: 3px 3px #a2a7a7;
  background-color: #E5AA73;
  color:white;
}
.j2:hover, .j3:hover, .j4:hover{box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);}
.j0 p{
  line-height: 1.5;
  margin-top:150px;
  text-align: center;
  font-size: 28px;
  color:#355760;
}
.button0010 a {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 80px ;
  max-width: 80vw;
  color: #355760;
  transition: 0.3s ease-in-out;
  font-weight: bold;
font-size: 6rem;
}
.button0010 a:before {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  right: -0.5em;
  transform: translateY(calc(-50% - 2px)) rotate(30deg);
  width: 20px;
  height: 5px;
  background-color: #355760;
  transition: 0.3s;
}
.button0010 a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -0.5em;
  transform: translateY(-50%);
  width: 100px;
  height: 5px;
  background-color: #355760;
  transition: 0.3s;
}
.button0010 a:hover:before, .button0010 a:hover:after {
  right: -1em;
}
.button0010 a:hover {
 
  color: #E5AA73;
}

/*-------job---------- */
/*-------footer---------- */
#footer{
  background-image: url(../images/LIFE\ IS\ GOOD.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  position: relative;
  background-color: #355760;
  
  font-size: 1rem;
  padding:30px;
}
.office{
 
  
  color:white;
  font-size: 16px;
  line-height: 2;
  list-style: square inside;; 
}
#footer h1{
  font-weight:bold;
}

.flex7{
 
  color:white;
  font-size: 16px;
  line-height: 2;
  
list-style: square inside;;
}

.flex8{
 
  color:white;
  font-size: 16px;
  line-height: 2;
 
}
.flex10{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex9{display:flex;
flex-direction: row;
align-items: flex-end;
gap:40px;}

/*-------footer---------- */
@media screen and (max-width: 1025px) {
  body {
    font-size: 16px;
  }
  .flex10{
    display: flex;
    flex-direction:column;
    gap:40px
   
  }
  .flex9{justify-content: space-between;}
  .accordion-area{width:100vw}
  nav.globalMenuSp {width:40vw;}
  .circle2 {display:none}
  .m1{display:none}
  .flex3{
   max-width:80vw;
   margin:0 auto;
  }
  .flex4{gap:100px}
  .co1, .co2, .co3{
    flex-direction: column;
  }
  .co1w, .co2w, .co3w{
    margin-bottom: 10%;
  }
.mmonly{
  display:none;
}

}
  @media screen and (max-width: 600px) {
    body {
      font-size: 14px;
    }
    .flex9{display:flex;
      flex-direction: column;
      align-items: flex-start;
      gap:40px;}
      .flex10{display:flex;
        flex-direction: column;
        align-items: flex-start;
        gap:40px;}
    .pconly{
      display:none;
    }
    nav.globalMenuSp {width:100vw;
      height:100vh;
      background-color: #355760;}
    .circle{ display:none;}
    .smonly{
      display:block
    }
   .smback{
    text-align: center;
   }
   #message{height:auto}
   #message h1 {text-align:center;
    position:static;
  padding-top:20px;}
  #company h1 {text-align:center;
    position:static;
  padding-top:20px;}
  #member h1 {text-align:center;
    position:static;
  padding-top:20px;}
  #job h1 {text-align:center;
 
  padding-top:100px;}

   .m3 p{
    font-size: 1rem;
    line-height: 1.5;
    color:white;
    margin-bottom:40px;
  }
      .line7{display:none;}
      .circle7 {display:none;}
  .m3{
    text-align: center;
  margin:0 auto;
   padding:10% 5%;
  }
  .flex4{
    width: 90%;
  }
  .button006 a {float:none;
    text-align: center;
  margin:5% auto;}
  .co1w, .co2w, .co3w {width:80vw;
  margin:0 auto;}

.flex4 h2{
  margin:0 auto;
 background: none;
 width:fit-content
}
.flex4 img{
  width: 100%;
}
.line3, .line5, .line1, .line2, .line4, .line6 {
  display:none;
}

#member{
  height:750px;
}
  .slideshow-fade li{
    margin-top:40%;
      list-style: none;
      width: 100%;
      height: 100%;}
      .slideshow-fade img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
      }
      .accordion-area{
       margin-top:0;
       padding:50px 10px;
      }
      .accordion-area h2{
        float:right;
        writing-mode: vertical-rl;
        position:absolute;
        top:46px;
        right:77px;
        font-size: 30px;
        writing-mode: vertical-rl;
        font-weight: bold;
        color:white;
        letter-spacing: 0.8rem;
      }
      
      .button0010 a {font-size: 3rem;
        max-width: 80vw;
          }    .accordion-area li{
        margin: 30px 0;
      }
      
      .accordion-area section {
      border-bottom: 1px solid #ccc;
      }
      .j1{
        flex-direction: column;}
        .button0010 a:before {display:none;}
        .button0010 a:after {display:none}

  }
